{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block head %}
    {{ super() }}
    <style>
        h1{color:blue;}
    </style>
{% endblock head %}

{% block page_content %} 
<div class="container">
    <div class="page-header">
        <h1>Hello, {% if name %} {{ name }} {% else %} Stranger!{%endif%}</h1>
    </div>
    <form class="form-group" method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name(class_='form-control')}}
        {{form.submit(class_='btn btn-primary mb-2')}}
    </form>
    <div>
        <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    </div>
</div>

{% endblock page_content%}
